<div class="container">
  <h2 class="text-center">Contact</h2>
  <div class="row justify-content-center">
    <div class="col text-center">
      <h6>Find me below</h6>
      <span>
        <a href="#" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon> GitHub
        </a>
      </span>
      <span>
        <a href="#" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon> Twitter
        </a>
      </span>
      <span>
        <a href="#" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
        </a>
      </span>
      <span>
        <a href="#" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
        </a>
      </span>
    </div>
    <div class="col text-center">
      <h6>Email</h6>
      <a href="mailto:tjcoop321@gmail.com">tjcoop321@gmail.com</a>
    </div>
  </div>

</div>
