<div class="parallax-2"></div>
<div class="container-fluid content">
    <h2 class="text-center">Projects</h2>
  <div class="row justify-content-center">
    <div class="col">
      <div #ifNoCan id="ifNoCan" class="card border-info">
        <img class="card-img-top" src="../../../assets/images/pineapplesfinished4-light.svg" alt="Card image cap">
        <div class="card-body border-info">
          <h5 class="card-title">If No Can</h5>
          <p class="card-text">If No Can is a website I built to display content for a podcast I'm part of and help
            produce. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-info">
        <img class="card-img-top" src="../../../assets/images/pineapplesfinished4-light.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-info">
        <img class="card-img-top" src="../../../assets/images/pineapplesfinished4-light.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-info">
        <img class="card-img-top" src="../../../assets/images/pineapplesfinished4-light.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

