.parallax-2 {
    background-image: url("../../../assets/images/oceanBlue.jpg");
    position: relative;
    min-height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectHeader {
    padding-bottom: .5rem;
    background: rgba(255, 255, 255, 0.8);
}

.content {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .content {
        top: 120%;
    }
}

@media only screen and (min-width: 600px) {
    .content {
        top: 130%;
    }
}

@media only screen and (min-width: 768px) {
    .content {
        top: 130%;
    }
}

@media only screen and (min-width: 992px) {
    .content {
        top: 135%;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        top: 145%;
    }
}